{% extends 'base.html' %}


{% block base %}
    
{{mensaje}}
    
<div class="container">
    <div class="row">
        <div class="col-md-10 col-lg-8">
            <div class="post-preview"><a>
                    <h2 class="post-title">Temple del Acero para Mayor Durabilidad:</h2>
                    <h5 class="post-subtitle">Los tratamientos térmicos, como el temple, pueden mejorar la durabilidad del acero utilizado en la construcción de contenedores técnicos. El temple involucra calentar el acero a altas temperaturas y luego enfriarlo rápidamente para mejorar su dureza y resistencia. Esto garantiza que el contenedor pueda soportar condiciones extremas y cargas pesadas.</h5>
                </a>
                <p class="post-meta">Extraido de Instituto de Investigación de Tecnología de Materiales de Vanguardia, Ciudad Tecnológica de Innovación, 5 de junio de 2023&nbsp;</p>
            </div>
            <hr>
            <div class="post-preview"><a>
                    <h2 class="post-title">Recocido para Reducir Tensiones Residuales:</h2>
                    <h5 class="post-subtitle">El proceso de recocido implica calentar el acero a una temperatura específica y luego enfriarlo lentamente. Esto ayuda a aliviar las tensiones residuales en el material, lo que es fundamental para contenedores técnicos que deben mantener la integridad estructural durante operaciones críticas.</h5>
                </a>
                <p class="post-meta">Extraido de Centro de Investigación en Metalurgia Avanzada, Laboratorio de Materiales Técnicos, 14 de agosto de 2023&nbsp;</p>
            </div>
            <hr>
            <div class="post-preview"><a>
                    <h2 class="post-title"> Nitrocarburización para Resistencia a la Corrosión:</h2>
                    <h5 class="post-subtitle">La nitrocarburización es un proceso que mejora la resistencia a la corrosión del acero. Esto es esencial para los contenedores técnicos que estarán expuestos a ambientes hostiles o condiciones climáticas extremas. Este tratamiento puede prolongar la vida útil del contenedor y reducir la necesidad de mantenimiento.</h5>
                </a>
                <p class="post-meta">Extraido de Instituto de Tecnología de Superficies y Tratamientos Térmicos, Laboratorio de Pruebas de Contenedores Técnicos, 20 de octubre de 2023&nbsp;</p>
            </div>
            <hr>
            <div class="post-preview"><a >
                    <h2 class="post-title">Tratamientos Térmicos para Componentes Internos:</h2>
                    <h5 class="post-subtitle">Además de la estructura principal del contenedor, los componentes internos, como los sellos y las juntas, pueden beneficiarse de tratamientos térmicos específicos. Esto garantiza un sellado hermético y una mayor resistencia a la deformación, lo que es crucial en aplicaciones técnicas donde se deben mantener condiciones controladas.</h5>
                </a>
                <p class="post-meta">Extraido de Centro de Desarrollo de Componentes Avanzados, Departamento de Tecnología de Componentes Técnicos,  7 de diciembre de 2023&nbsp;</p>
            </div>
            <hr>
        
        </div>
    </div>
</div>

{% endblock base %}