{% extends 'base.html' %}


{% block base %}
    

    
<div class="container">
    <div class="row">
        <div class="col-md-10 col-lg-8">
            <div class="post-preview"><a>
                    <h2 class="post-title">SOBRE MI</h2>
                    <h5 class="post-subtitle">¡Hola! Soy Leonardo, el fundador y director de INNOVACIÓN TÉRMICA. Permíteme compartir un poco sobre mi pasión por los tratamientos térmicos y cómo comenzó todo.

                        Desde temprana edad, siempre me ha fascinado el mundo de la metalurgia y la tecnología de materiales. Mi interés por los tratamientos térmicos se despertó cuando era un estudiante de ingeniería en Instituto Tecnológico de Massachusetts, donde tuve la oportunidad de aprender sobre los procesos de temple, recocido, nitrocarburización y muchos otros.
                        
                        Después de graduarme con una licenciatura en ingeniería de materiales, decidí sumergirme aún más en este campo apasionante. Me uní a ThermalTech Engineering, líder en tecnología de tratamientos térmicos, donde trabajé en proyectos innovadores para mejorar la durabilidad y resistencia de diversos materiales.
                        
                        Mi amor por los tratamientos térmicos no se detuvo ahí. Con el tiempo, fundé INNOVACIÓN TÉRMICA con el objetivo de llevar esta experiencia y conocimiento a un nivel superior. En nuestra empresa, nos dedicamos a brindar soluciones de tratamientos térmicos de vanguardia para contenedores técnicos y aplicaciones especializadas.
                        
                        Lo que más me emociona de este trabajo es ver cómo nuestros tratamientos transforman materiales comunes en productos excepcionales que resisten las condiciones más desafiantes. Nos enorgullece ofrecer soluciones a medida para nuestros clientes y colaborar en proyectos que marcan la diferencia en diversas industrias.
                        
                        Cuando no estoy inmerso en el mundo de los tratamientos térmicos, disfruto de la lectura, la música y pasar tiempo al aire libre. También me encanta explorar nuevos lugares y aprender sobre diferentes culturas.
                        
                        Gracias por visitar nuestra página web. Espero que encuentres toda la información que necesitas sobre nuestros servicios y tratamientos. Si tienes alguna pregunta o deseas colaborar en un proyecto, no dudes en ponerte en contacto con nosotros. Estamos aquí para ayudarte a alcanzar tus objetivos.
                        
                        ¡Gracias por ser parte de nuestra comunidad!</h5>

                        <br>

                        <h5 class="post-subtitle">
                            
                            Leonardo
                            <br>
                            Fundador y Director de INNOVACIÓN TÉRMICA</h5>
                </a>
                <p class="post-meta"></p>
            </div>
            <hr>        
        </div>
    </div>
</div>

{% endblock base %}